<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Paste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        {{ highlight_css|safe }}
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>View Paste</h1>
            <a href="{{ url_for('index') }}" class="button">Create New Paste</a>
        </div>
        <div class="paste-content source">{{ paste_content|safe }}</div>
    </div>
</body>
</html>